<div class="bg-gray-50 dark:bg-gray-900 min-h-screen transition-colors duration-200">
  <EatfairWeb.UserNavigation.user_nav current_scope={@current_scope} />

  <main>
    <%= if assigns[:inner_content] do %>
      <%= @inner_content %>
    <% else %>
      <%= render_slot(@inner_block) %>
    <% end %>
  </main>
</div>

<.flash_group flash={@flash} />
